{% if pageCount > 1 %}
    <div class="dataTables_wrapper" style="display: flex; justify-content: center">
        <div class="dataTables_paginate paging_simple_numbers">
            {% if previous is defined %}
                <a href="{{ path(route, query|merge({(pageParameterName): previous})) }}" class="paginate_button previous">
                    <i class="icon-arrow-left32"></i>
                </a>
            {% endif %}

            {% for page in pagesInRange %}
                {% if page != current %}
                    <a href="{{ path(route, query|merge({(pageParameterName): page})) }}" class="paginate_button ">
                        {{ page }}
                    </a>
                {% else %}
                       <a class="current paginate_button ">{{ page }}</a>
                {% endif %}

            {% endfor %}

            {% if next is defined %}
                <a href="{{ path(route, query|merge({(pageParameterName): next})) }}" class="paginate_button next">
                    <i class="icon-arrow-right32"></i>
                </a>
            {% endif %}
        </div>
    </div>
{% endif %}
