<template>
  <a @click="openCallRequestModal">
    <slot />
  </a>
</template>

<script>
import CallRequestModal from './CallRequestModal';
import Vue from 'vue';

export default {
  name: 'ModalOpenButton',
  methods: {
    openCallRequestModal() {
      const modal = new Vue(CallRequestModal);

      modal.$mount();
    }
  }
}
</script>
