<template>
  <footer class="footer footer-dark">
    <div class="container">
      <div class="columns">
        <div class="column">
          <div class="footer-logo">
            <img
              src="../../assets/images/logos/index.png"
              alt="logo"
            >
          </div>
        </div>

        <div class="column">
          <div class="footer-column">
            <div class="footer-header">
              <h3>
                Главное меню
              </h3>
            </div>

            <ul class="link-list">
              <li>
                <router-link
                  :to="{ name: 'home' }"
                  @click.native="handleNavbarHamburgerClick"
                >
                  Главная
                </router-link>
              </li>

              <li>
                <router-link
                  :to="{ name: 'services' }"
                  @click.native="handleNavbarHamburgerClick"
                >
                  Услуги
                </router-link>
              </li>

              <li>
                <router-link
                  :to="{ name: 'carPark' }"
                  @click.native="handleNavbarHamburgerClick"
                >
                  Автопарк
                </router-link>
              </li>

              <li>
                <router-link
                  :to="{ name: 'reviews' }"
                  @click.native="handleNavbarHamburgerClick"
                >
                  Отзывы
                </router-link>
              </li>

              <li>
                <router-link
                  :to="{ name: 'contacts' }"
                  @click.native="handleNavbarHamburgerClick"
                >
                  Контакты
                </router-link>
              </li>
            </ul>
          </div>
        </div>

        <div class="column">
          <div class="footer-column">
            <div class="footer-header">
              <h3>
                Контакты
              </h3>
            </div>

            <ul class="link-list">
              <li>
                <a href="tel:+375296294127">
                  +375 (29) 629-41-27
                </a>
              </li>

              <li>
                <a href="mailto:miccoli07@mail.ru">
                  miccoli07@mail.ru
                </a>
              </li>

              <li>
                <a href="viber://chat?number=375295767139">
                  Viber: +375295767139
                </a>
              </li>

              <li>
                <a
                  href="https://wa.me/375293984787"
                  target="_blank"
                >
                  Watts: +375293984787
                </a>
              </li>

              <li>
                <a href="skype:gapanovich78?call">
                  Skype: dimokmikulich
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </footer>
</template>

<script>
export default {
  name: 'TheFooter'
}
</script>
