<template>
  <nav class="navbar is-fresh is-transparent no-shadow" role="navigation" aria-label="main navigation">
    <div class="container">
      <div class="navbar-brand">
        <router-link
          :to="{ name: 'home' }"
          class="navbar-item"
        >
          <img
            src="../../assets/images/logos/index.png"
          >
        </router-link>

        <a
          ref="hamburger"
          role="button"
          class="navbar-burger"
          aria-label="menu"
          aria-expanded="false"
          @click="handleNavbarHamburgerClick"
        >
          <span aria-hidden="true" />
          <span aria-hidden="true" />
          <span aria-hidden="true" />
        </a>
      </div>

      <div
        id="navbar-menu"
        ref="navbarContent"
        class="navbar-menu is-static"
      >
        <div class="navbar-end">
          <router-link
            :to="{ name: 'home' }"
            class="navbar-item is-secondary"
            @click.native="handleNavbarHamburgerClick"
          >
            Главная
          </router-link>

          <!--<div class="navbar-item has-dropdown is-hoverable">-->
            <!--<a class="navbar-link">-->
              <!--Услуги-->
            <!--</a>-->

            <!--<div class="navbar-dropdown">-->
              <!--<router-link-->
                <!--:to="{ name: 'assortedCargo' }"-->
                <!--class="navbar-item"-->
                <!--@click.native="handleNavbarHamburgerClick"-->
              <!--&gt;-->
                <!--Сборные грузы-->
              <!--</router-link>-->

              <!--<router-link-->
                <!--:to="{ name: 'constructionCargo' }"-->
                <!--class="navbar-item"-->
                <!--@click.native="handleNavbarHamburgerClick"-->
              <!--&gt;-->
                <!--Кругорейс-->
              <!--</router-link>-->
            <!--</div>-->
          <!--</div>-->

          <router-link
            :to="{ name: 'services' }"
            class="navbar-item is-secondary"
            @click.native="handleNavbarHamburgerClick"
          >
            Услуги
          </router-link>

          <router-link
            :to="{ name: 'carPark' }"
            class="navbar-item is-secondary"
            @click.native="handleNavbarHamburgerClick"
          >
            Автопарк
          </router-link>

          <router-link
            :to="{ name: 'reviews' }"
            class="navbar-item is-secondary"
            @click.native="handleNavbarHamburgerClick"
          >
            Отзывы
          </router-link>

          <router-link
            :to="{ name: 'contacts' }"
            class="navbar-item is-secondary"
            @click.native="handleNavbarHamburgerClick"
          >
            Контакты
          </router-link>

          <open-call-request-modal-button class="navbar-item">
            <span class="button signup-button rounded secondary-btn raised">
              Заказать звонок
            </span>
          </open-call-request-modal-button>
        </div>
      </div>
    </div>
  </nav>
</template>

<script>
import OpenCallRequestModalButton from './ModalOpenButton';

export default {
  name: 'TheNavbar',
  components: {
    OpenCallRequestModalButton
  },
  methods: {
    handleNavbarHamburgerClick() {
      this.$refs.hamburger.classList.toggle('is-active');
      this.$refs.navbarContent.classList.toggle('is-active');
    }
  }
}
</script>

<style lang="scss">
  span.button.signup-button {
    width: 180px;
  }
</style>
