<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

  <title>{{ subject }}</title>

  <style type="text/css">
    body {
      padding-top: 0 !important;
      padding-bottom: 0 !important;
      margin: 0 !important;
      width: 100% !important;
      background-color: #d1d3d4;
      background-repeat: repeat;
      -webkit-text-size-adjust: 100% !important;
      -ms-text-size-adjust: 100% !important;
      -webkit-font-smoothing: antialiased !important;
    }

    .tableContent img {
      border: 0 !important;
      display: block !important;
      outline: none !important;
    }

    a {
      color: #382F2E;
    }

    p, h1, h2, ul, ol, li, div {
      margin: 0;
      padding: 0;
    }

    h1, h2 {
      font-weight: normal;
      background: transparent !important;
      border: none !important;
    }

    @media only screen and (max-width: 480px) {

      table.MainContainer,
      td.cell {
        width: 100% !important;
        height: auto !important;
      }

      td.specbundle {
        width: 100% !important;
        float: left !important;
        font-size: 13px !important;
        line-height: 17px !important;
        display: block !important;
        padding-bottom: 15px !important;
      }

      td.specbundle2 {
        width: 80% !important;
        float: left !important;
        font-size: 13px !important;
        line-height: 17px !important;
        display: block !important;
        padding-bottom: 10px !important;
        padding-left: 10% !important;
        padding-right: 10% !important;
      }

      td.spechide {
        display: none !important;
      }

      img.banner {
        width: 100% !important;
        height: auto !important;
      }

      td.left_pad {
        padding-left: 15px !important;
        padding-right: 15px !important;
      }

    }

    @media only screen and (max-width: 540px) {

      table.MainContainer,
      td.cell {
        width: 100% !important;
        height: auto !important;
      }

      td.specbundle {
        width: 100% !important;
        float: left !important;
        font-size: 13px !important;
        line-height: 17px !important;
        display: block !important;
        padding-bottom: 15px !important;
      }

      td.specbundle2 {
        width: 80% !important;
        float: left !important;
        font-size: 13px !important;
        line-height: 17px !important;
        display: block !important;
        padding-bottom: 10px !important;
        padding-left: 10% !important;
        padding-right: 10% !important;
      }

      td.spechide {
        display: none !important;
      }

      img.banner {
        width: 100% !important;
        height: auto !important;
      }

      td.left_pad {
        padding-left: 15px !important;
        padding-right: 15px !important;
      }

    }

    .contentEditable h2.big,
    .contentEditable h1.big {
      font-size: 26px !important;
    }

    .contentEditable h2.bigger,
    .contentEditable h1.bigger {
      font-size: 37px !important;
    }

    td, table {
      vertical-align: top;
    }

    td.middle {
      vertical-align: middle;
    }

    a.link1 {
      font-size: 13px;
      color: #27A1E5;
      line-height: 24px;
      text-decoration: none;
    }

    a {
      text-decoration: none;
    }

    .link2 {
      color: #ffffff;
      border: 10px solid #27A1E5;
      border-radius: 3px;
      -moz-border-radius: 3px;
      -webkit-border-radius: 3px;
      background: #27A1E5;
    }

    .link3 {
      color: #555555;
      border: 1px solid #cccccc;
      padding: 10px 18px;
      border-radius: 3px;
      -moz-border-radius: 3px;
      -webkit-border-radius: 3px;
      background: #ffffff;
    }

    .link4 {
      color: #27A1E5;
      line-height: 24px;
    }

    h2, h1 {
      line-height: 20px;
    }

    p {
      font-size: 14px;
      line-height: 21px;
      color: #AAAAAA;
    }

    .bgItem,
    .bgBody {
      background: #ffffff;
    }

    img {
      outline: none;
      text-decoration: none;
      -ms-interpolation-mode: bicubic;
      width: auto;
      max-width: 100%;
      clear: both;
      display: block;
      float: none;
    }

  </style>

  <script type="colorScheme" class="swatch active">
{
    "name":"Default",
    "bgBody":"ffffff",
    "link":"27A1E5",
    "color":"AAAAAA",
    "bgItem":"ffffff",
    "title":"444444"
}

  </script>
</head>

<body>
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tbody>
  <tr>
    <td>
      <table
        width="600"
        border="0"
        cellspacing="0"
        cellpadding="0"
        align="center"
        bgcolor="#ffffff"
        style="font-family:helvetica, sans-serif;"
        class="MainContainer"
      >
        <tbody>
        <tr>
          <td>
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tbody>
              <tr>
                <td valign="top" width="20">&nbsp;</td>

                <td>
                  <table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tbody>
                    <tr>
                      <td class="movableContentContainer">
                        <div class="movableContent" style="border: 0px; padding-top: 0px; position: relative;">
                          <table width="100%" border="0" cellspacing="0" cellpadding="0">
                            <tbody>
                            <tr>
                              <td height="15"></td>
                            </tr>

                            <tr>
                              <td>
                                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                  <tbody>
                                  <tr>
                                    <td valign="top">
                                      <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                        <tbody>
                                        <tr>
                                          <td valign="top" width="66">
                                            <img
                                              src="{{ siteUrl }}{{ asset('assets/images/gd-logo-email.png') }}"
                                              alt="Logo"
                                              title="Logo"
                                              width="66"
                                              height="42"
                                              data-max-width="100"
                                            />
                                          </td>

                                          <td width="10" valign="top">&nbsp;</td>

                                          <td valign="middle" style='vertical-align: middle;'>
                                            <div class='contentEditableContainer contentTextEditable'>
                                              <div
                                                class='contentEditable'
                                                style='text-align: left;font-weight: light; color:#555555;font-size:26;line-height: 39px;font-family: Helvetica Neue;'
                                              >
                                                <h1 class='big'>
                                                  <a target='_blank' href="{{ siteUrl }}" style='color:#444444'>
                                                    Global Diligence
                                                  </a>
                                                </h1>
                                              </div>
                                            </div>
                                          </td>
                                        </tr>
                                        </tbody>
                                      </table>
                                    </td>

                                    <td valign="top" width="90" class="spechide">&nbsp;</td>

                                    <td valign="middle" style='vertical-align: middle;' width='150'>
                                    </td>
                                  </tr>
                                  </tbody>
                                </table>
                              </td>
                            </tr>

                            <tr>
                              <td height='15'></td>
                            </tr>

                            <tr>
                              <td>
                                <hr style='height:1px;background:#DDDDDD;border:none;'>
                              </td>
                            </tr>
                            </tbody>
                          </table>
                        </div>

                        {% block content %}
                        {% endblock %}

                        <div class="movableContent" style="border: 0px; padding-top: 0px; position: relative;">
                          <table width="100%" border="0" cellspacing="0" cellpadding="0">
                            <tbody>
                            <tr>
                              <td height="40"></td>
                            </tr>

                            <tr>
                              <td>
                                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                  <tbody>
                                  <tr>
                                    <td valign="top" width="125" class="spechide">&nbsp;</td>

                                    <td class="specbundle2">
                                      <table width="100%" cellpadding="0" cellspacing="0" align="center">
                                        <tr>
                                          <td width='40'>
                                            <div class='contentEditableContainer contentFacebookEditable'>
                                              <div class='contentEditable' style='text-align: center;color:#AAAAAA;'>
                                                <a href="https://www.facebook.com/7tronos7" target="_blank">
                                                  <img
                                                    src="{{ siteUrl }}{{ asset('assets/images/soc_net/facebook.png') }}"
                                                    alt="facebook"
                                                    width='40'
                                                    height='40'
                                                    data-max-width="40"
                                                    data-customIcon="true"
                                                    border="0"
                                                  />
                                                </a>
                                              </div>
                                            </div>
                                          </td>

                                          <td width='10'></td>

                                          <td width='40'>
                                            <div class='contentEditableContainer contentVkEditable'>
                                              <div class='contentEditable' style='text-align: center;color:#AAAAAA;'>
                                                <a href="https://vk.com/gd_official_group" target="_blank">
                                                  <img
                                                    src="{{ siteUrl }}{{ asset('assets/images/soc_net/vk.png') }}"
                                                    alt="twitter"
                                                    width='40'
                                                    height='40'
                                                    data-max-width="40"
                                                    data-customIcon="true"
                                                    border="0"
                                                  />
                                                </a>
                                              </div>
                                            </div>
                                          </td>

                                          <td width='10'></td>

                                          <td width='40'>
                                            <div class='contentEditableContainer contentImageEditable'>
                                              <div class='contentEditable' style='text-align: center;color:#AAAAAA;'>
                                                <a href="https://www.instagram.com/sergeirodin_w/" target="_blank">
                                                  <img
                                                    src="{{ siteUrl }}{{ asset('assets/images/soc_net/instagram.png') }}"
                                                    alt="Pinterest"
                                                    width='40'
                                                    height='40'
                                                    data-max-width="40"
                                                    border="0"
                                                  />
                                                </a>
                                              </div>
                                            </div>
                                          </td>

                                          <td width='10'></td>

                                          <td width='40'>
                                            <div class='contentEditableContainer contentImageEditable'>
                                              <div class='contentEditable' style='text-align: center;color:#AAAAAA;'>
                                                <a href="https://www.youtube.com/channel/UCsF14jyHlW4IW8xls82DLEQ" target="_blank">
                                                  <img
                                                    src="{{ siteUrl }}{{ asset('assets/images/soc_net/youtube.png') }}"
                                                    alt="Social media"
                                                    width='40'
                                                    height='40'
                                                    data-max-width="40"
                                                    border="0"
                                                  />
                                                </a>
                                              </div>
                                            </div>
                                          </td>

                                          <td width='10'></td>

                                          <td width='40'>
                                            <div class='contentEditableContainer contentImageEditable'>
                                              <div class='contentEditable' style='text-align: center;color:#AAAAAA;'>
                                                <a href="https://www.linkedin.com/in/sergeirodin/" target="_blank">
                                                  <img
                                                    src="{{ siteUrl }}{{ asset('assets/images/soc_net/linkedin.png') }}"
                                                    alt="Social media"
                                                    width='40'
                                                    height='40'
                                                    data-max-width="40"
                                                    border="0"
                                                  />
                                                </a>
                                              </div>
                                            </div>
                                          </td>
                                        </tr>
                                      </table>
                                    </td>

                                    <td valign="top" width="125" class="spechide">&nbsp;</td>
                                  </tr>
                                  </tbody>
                                </table>
                              </td>
                            </tr>

                            <tr>
                              <td height='40'></td>
                            </tr>
                            </tbody>
                          </table>
                        </div>
                      </td>
                    </tr>
                    </tbody>
                  </table>
                </td>

                <td valign="top" width="20">&nbsp;</td>
              </tr>
              </tbody>
            </table>
          </td>
        </tr>
        </tbody>
      </table>
    </td>
  </tr>
  </tbody>
</table>
</body>
</html>
