{% extends '@app/admin_base.html.twig' %}
{% block title %}
  Запросы на вызов
{% endblock %}
{% block content %}
  <div class="panel">
    <div class="panel-heading panel-primary">
      <h3>
        Запросы на вызов ({{ callRequests.getTotalItemCount }})
      </h3>
    </div>

    <div class="panel-body">
      {% if callRequests.getTotalItemCount %}
        <div class="table-responsive table-padding-85" style="padding-bottom: 150px">
          <table class="table table-hover table-striped">
            <thead>
            <tr class="bg-primary">
              <th>{{ knp_pagination_sortable(callRequests, 'ID', ['cr.id']) }}</th>
              <th>{{ knp_pagination_sortable(callRequests, 'Телефон', ['cr.phone']) }}</th>
              <th>{{ knp_pagination_sortable(callRequests, 'Имя', ['cr.name']) }}</th>
              <th>{{ knp_pagination_sortable(callRequests, 'Дата', ['cr.createdAt']) }}</th>
              <th>{{ knp_pagination_sortable(callRequests, 'Статус', ['cr.isActive']) }}</th>
              <th>Действия</th>
            </tr>
            </thead>

            <tbody>
            {% for callRequest in callRequests %}
              <tr>
                <td>{{ callRequest.id }}</td>
                <td>{{ callRequest.phone }}</td>
                <td>{{ callRequest.name }}</td>
                <td>{{ callRequest.createdAt | date("d/m/Y H:i:s") }}</td>
                <td>
                  {% if callRequest.active %}
                    <div class="label label-success">
                      Обработан
                    </div>
                  {% else %}
                    <div class="label label-danger">
                      Необработан
                    </div>
                  {% endif %}
                </td>
                <td>
                  <ul class="icons-list">
                    <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="icon-menu9"></i>
                      </a>

                      <ul class="dropdown-menu dropdown-menu-right">
                        {% if callRequest.active %}
                          <li>
                            <a
                              href="{{ path('admin_call_unconfirm', {'id': callRequest.getId}) }}">
                              <i class="icon-plus3 text-blue"></i>

                              Не обработан
                            </a>
                          </li>
                        {% else %}
                          <li>
                            <a href="{{ path('admin_call_confirm', {'id': callRequest.getId}) }}">
                              <i class="icon-plus3 text-blue"></i>

                              Обработан
                            </a>
                          </li>
                        {% endif %}
                      </ul>
                    </li>
                  </ul>
                </td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
        </div>
        {% if callRequests.getTotalItemCount >= 20 %}
          <div class="panel-body">
            <div class="text-center">
              {{ knp_pagination_render(callRequests) }}
            </div>
          </div>
        {% endif %}
      {% else %}
        <div class="panel panel-body">
          <div class="text-center">
            У вас нет запросов на вызов
          </div>
        </div>
      {% endif %}
    </div>
  </div>

  <style>
    th a {
      color: white;
    }
  </style>
{% endblock %}
