{% extends '@app/admin_base.html.twig' %}
{% block title %}
  Отзывы
{% endblock %}

{% block content %}
  <div class="panel">
    <div class="panel-heading panel-primary">
      <h3>
        Отзывы ({{ reviews.getTotalItemCount }})
      </h3>
    </div>

    <div class="panel-body">
      {% if reviews.getTotalItemCount %}
        <div class="table-responsive table-padding-85" style="padding-bottom: 150px">
          <table class="table table-hover table-striped">
            <thead>
            <tr class="bg-primary">
              <th>{{ knp_pagination_sortable(reviews, 'ID', ['cr.id']) }}</th>
              <th>{{ knp_pagination_sortable(reviews, 'Имя', ['cr.name']) }}</th>
              <th>{{ knp_pagination_sortable(reviews, 'Email', ['cr.email']) }}</th>
              <th>{{ knp_pagination_sortable(reviews, 'Дата', ['cr.createdAt']) }}</th>
              <th>{{ knp_pagination_sortable(reviews, 'Статус', ['cr.isActive']) }}</th>
              <th>Действия</th>
            </tr>
            </thead>

            <tbody>
            {% for review in reviews %}
              <tr>
                <td>{{ review.id }}</td>
                <td>{{ review.name }}</td>
                <td>{{ review.email }}</td>
                <td>{{ review.createdAt | date("d/m/Y H:i:s") }}</td>
                <td>
                  {% if review.active %}
                    <div class="label label-success">
                      Обработан
                    </div>
                  {% else %}
                    <div class="label label-danger">
                      Необработан
                    </div>
                  {% endif %}
                </td>
                <td>
                  <ul class="icons-list">
                    <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="icon-menu9"></i>
                      </a>

                      <ul class="dropdown-menu dropdown-menu-right">
                        {% if review.active %}
                          <li>
                            <a
                              href="{{ path('admin_review_unconfirm', {'id': review.getId}) }}">
                              <i class="icon-plus3 text-blue"></i>

                              Не обработан
                            </a>
                          </li>
                        {% else %}
                          <li>
                            <a href="{{ path('admin_review_confirm', {'id': review.getId}) }}">
                              <i class="icon-plus3 text-blue"></i>

                              Обработан
                            </a>
                          </li>
                        {% endif %}

                        <li>
                          <a href="{{ path('admin_review_remove', {'id': review.getId}) }}">
                            <i class="icon-pencil text-danger"></i>

                            Удалить
                          </a>
                        </li>
                      </ul>
                    </li>
                  </ul>
                </td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
        </div>
        {% if reviews.getTotalItemCount >= 20 %}
          <div class="panel-body">
            <div class="text-center">
              {{ knp_pagination_render(reviews) }}
            </div>
          </div>
        {% endif %}
      {% else %}
        <div class="panel panel-body">
          <div class="text-center">
            У вас нет отзывов
          </div>
        </div>
      {% endif %}
    </div>
  </div>

  <style>
    th a {
      color: white;
    }
  </style>
{% endblock %}
