{% trans_default_domain 'FOSUserBundle' %}

<section id="wrapper" class="login-register login-sidebar">
  <div class="bg-mm">
    <svg width="492" height="120">
      <defs id="SvgjsDefs1001"></defs>
      <g
        id="SvgjsG1009" featurekey="text1" fill="#F39200"
        transform="matrix(6.081632441221876,0,0,6.081632441221876,0,-12.448978426720316)"
      >
        <path
          d="M6.32 5.5 l0.72 2.7 l-1.94 0 l0 11.8 l-2.96 0 l0 -11.8 l-1.94 0 l0.76 -2.7 l5.36 0 z M10.620000000000001 18.2 l-0.26 1.8 l-2.92 0 l2.62 -14.5 l3.1 0 l2.62 14.5 l-2.92 0 l-0.26 -1.8 l-1.98 0 z M10.940000000000001 15.9 l1.34 0 l-0.66 -5.14 z M19.48 8.04 l0 5 l1.42 0 q0.28 0 0.28 -0.3 l0 -4.4 q0 -0.3 -0.28 -0.3 l-1.42 0 z M24.04 14.1 q0 0.48 -0.33 0.88 t-0.97 0.4 l1.52 4.62 l-3 0 l-1.4 -4.62 l-0.38 0 l0 4.62 l-2.9 0 l0 -14.5 l5.5 0 q1.02 0 1.49 0.51 t0.47 1.37 l0 6.72 z M28.06 18.2 l-0.26 1.8 l-2.92 0 l2.62 -14.5 l3.1 0 l2.62 14.5 l-2.92 0 l-0.26 -1.8 l-1.98 0 z M28.38 15.9 l1.34 0 l-0.66 -5.14 z M36.980000000000004 11.72 l0.44 0 l1.48 -6.22 l3 0 l-1.74 6.68 l1.72 7.82 l-3.18 0 l-1.14 -5.98 l-0.58 0 l0 5.98 l-2.96 0 l0 -14.5 l2.96 0 l0 6.22 l0 0 z M45.480000000000004 18.2 l-0.26 1.8 l-2.92 0 l2.62 -14.5 l3.1 0 l2.62 14.5 l-2.92 0 l-0.26 -1.8 l-1.98 0 z M45.800000000000004 15.9 l1.34 0 l-0.66 -5.14 z M51.38 11.64 l2.82 0 l0 5.48 q0 0.28 0.26 0.28 l1.06 0 q0.26 0 0.26 -0.3 l0 -8.9 l-3.14 0 l0.5 -2.7 l5.56 0 l0 12.42 q0 0.86 -0.5 1.47 t-1.46 0.61 l-3.44 0 q-0.86 0 -1.39 -0.5 t-0.53 -1.36 l0 -6.5 z M59.900000000000006 18.66 q0 -0.64 0.46 -1.1 t1.1 -0.46 t1.1 0.46 t0.46 1.1 t-0.46 1.09 t-1.1 0.45 t-1.1 -0.45 t-0.46 -1.09 z M67.10000000000001 8.04 l0 3.8 l1.36 0 q0.16 0 0.26 -0.09 t0.1 -0.29 l0 -3.14 q0 -0.28 -0.26 -0.28 l-1.46 0 z M68.86 14.46 q0 -0.24 -0.12 -0.33 t-0.32 -0.09 l-1.32 0 l0 3.42 l1.46 0 q0.18 0 0.24 -0.07 t0.06 -0.23 l0 -2.7 z M71.60000000000001 11.24 q0 0.54 -0.21 0.93 t-0.79 0.55 q0.6 0.04 0.87 0.42 t0.27 0.86 l0 3.76 q0 1.2 -0.5 1.72 t-1.76 0.52 l-5.26 0 l0 -14.5 l5.66 0 q0.86 0 1.29 0.48 t0.43 1.28 l0 3.98 z M78.38000000000001 20 l-3.06 0 l0 -3.68 l-2.78 -10.82 l3 0 l1.3 6.84 l1.32 -6.84 l3 0 l-2.78 10.82 l0 3.68 z"
        ></path>
      </g>
    </svg>
  </div>

  <div class="login-box card">
    <div class="card-body">
      <form
        action="{{ path("fos_user_security_check") }}"
        method="post"
        class="form-horizontal form-material"
        id="loginform"
      >
        {% if csrf_token %}
          <input type="hidden" name="_csrf_token" value="{{ csrf_token }}"/>
        {% endif %}

        <div class="form-group m-t-40">
          <div class="col-xs-12">
            <input
              id="username"
              name="_username"
              value="{{ last_username }}"
              placeholder="{{ 'form.field.username' | trans }}"
              required
              type="email"
              class="form-control"
            >
          </div>
        </div>

        <div class="form-group {% if not error is null %} has-danger {% endif %}">
          <div class="col-xs-12">
            <input
              type="password"
              id="password"
              name="_password"
              placeholder="{{ 'form.field.password' | trans }}"
              required
              class="form-control"
            >
          </div>

          {% if not error is null %}
            <div class="form-control-feedback">{{ 'form.error.bad_credentials' | trans }}</div>
          {% endif %}
        </div>

        <div class="form-group">
          <div class="col-md-12">
            <div class="checkbox checkbox-primary pull-left p-t-0">
              <input
                type="checkbox"
                id="remember_me"
                name="_remember_me"
                value="on"
              >

              <label for="remember_me">
                {{ 'form.field.remember_me'|trans }}
              </label>
            </div>
          </div>
        </div>

        <div class="form-group text-center m-t-20">
          <div class="col-xs-12">
            <button
              id="submit"
              class="btn btn-info btn-lg btn-block text-uppercase waves-effect waves-light"
            >
              {{ 'form.button.sign_in'|trans }}
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>

<style>
  @media (max-width: 767px) {
    .bg-mm {
      display: none;
    }
  }

  #wrapper {
    background-color: #2f4b94;
    height: 100vh;
  }

  .bg-mm {
    background: transparent;
    position: absolute;
    width: calc(100% - 400px);
    height: 100vh;
    background-size: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .btn-info, .btn-info.disabled {
    background: #2f4b94;
  }

  .btn-info:hover, .btn-info.disabled:hover {
    background: #304b94;
    border: 1px solid #304b94;
  }
</style>
