{% extends '@app/Email/base/base_email.html.twig' %}

{% block content %}
  <div class="movableContent" style="border: 0; padding-top: 0; position: relative;">
    <table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tbody>
      <tr>
        <td height="40"></td>
      </tr>

      <tr>
        <td style="background:#F6F6F6; border-radius:6px;-moz-border-radius:6px;-webkit-border-radius:6px">
          <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tbody>
            <tr>
              <td width="40" valign="top">&nbsp;</td>

              <td valign="top">
                <table width="100%" border="0" cellspacing="0" cellpadding="0" align="center">
                  <tr>
                    <td height="25"></td>
                  </tr>

                  <tr>
                    <td>
                      <div class="contentEditableContainer contentTextEditable">
                        <div class="contentEditable" style="text-align: center;">
                          <h1>
                            Подтверждение регистрации
                          </h1>

                          <br />

                          <p>
                            Здравствуйте!
                            Чтобы подтвердить регистрацию на сайте перейдите по ссылке ниже.
                            <br />
                            Если вы не регистрировались на нашем сайте, просто проигнорируйте это письмо.
                          </p>

                          <br /><br />

                          <a target="_blank" href="{{ confirmationLink }}" class="link3" style="color:#555555;">
                            Подтвердить
                          </a>
                          <br>
                        </div>
                      </div>
                    </td>
                  </tr>

                  <tr>
                    <td height="24"></td>
                  </tr>
                </table>
              </td>
              <td width="40" valign="top">&nbsp;</td>
            </tr>
            </tbody>
          </table>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
{% endblock %}