<template>
  <section
    id="capability"
    class="section section-feature-grey is-medium"
  >
    <div class="container">
      <div class="title-wrapper has-text-centered">
        <h2 class="title is-3">
          С большой силой приходит
        </h2>

        <h3 class="subtitle is-5 is-muted">
          Большая ответственность
        </h3>

        <div class="divider is-centered"></div>
      </div>

      <div class="content-wrapper">
        <div class="columns">
          <capability-section-item :duration="100">
            <template slot="title">
              Перевозка сборных грузов
            </template>

            <img
              src="../../../assets/images/illustrations/icons/box.svg"
              slot="image"
            >

            <template slot="description">
              Доставка товаров по направлению РБ-Москва(Московская область)-РБ
            </template>
          </capability-section-item>

          <capability-section-item :duration="300">
            <template slot="title">
              Эксперсс доставка
            </template>

            <img
              src="../../../assets/images/illustrations/icons/express-delivery.svg"
              slot="image"
            >

            <template slot="description">
              Экспресс доставка сборных грузов "сегодня-завтра". Кругорейс
            </template>
          </capability-section-item>

          <capability-section-item :duration="400">
            <template slot="title">
              Доставка грузов по Беларуси
            </template>

            <img
              src="../../../assets/images/illustrations/icons/belarus.svg"
              slot="image"
            >

            <template slot="description">
              Доставка грузов во все области Беларуси
            </template>
          </capability-section-item>

          <capability-section-item :duration="500">
            <template slot="title">
              Квартирные переезды
            </template>

            <img
              src="../../../assets/images/illustrations/icons/moving-truck.svg"
              slot="image"
            >

            <template slot="description">
              Квартирные переезды - Москва - Минск. Минск - Москва и области.
            </template>
          </capability-section-item>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
import CapabilitySectionItem from './CapabilitySectionItem';

export default {
  name: 'CapabilitySection',
  components: {
    CapabilitySectionItem
  }
}
</script>
