<template>
  <div class="column is-3">
    <div
      class="feature-card is-bordered has-text-centered revealOnScroll delay-1"
      data-animation="fadeInLeft"
    >
      <div class="card-title">
        <h4>
          <slot name="title"></slot>
        </h4>
      </div>

      <div class="card-icon">
        <slot name="image"></slot>
      </div>

      <div class="card-text">
        <p>
          <slot name="description"></slot>
        </p>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'CapabilitySection',
  props: {
    duration: {
      type: Number,
      default: 100
    }
  },
  data() {
    return {
      observer: null
    }
  },
  mounted() {
    this.observer = new IntersectionObserver(([ entry ]) => {
      if (entry.intersectionRatio > 0) {
        setTimeout(() => {
          this.$el.style.opacity = '1';
          this.$el.classList.add('animated');
          this.$el.classList.add('fadeInLeft');
          this.observer.disconnect();
        }, this.duration);
      } else {
        this.$el.style.opacity = '0';
      }
    }, {
      threshold: 0.01
    });

    this.observer.observe(this.$el);
  },
  beforeDestroy() {
    if (this.observer) {
      this.observer.disconnect();
    }
  }
}
</script>
