<template>
  <section
    id="title-section"
    class="hero is-fullheight is-default is-bold"
  >
    <div class="hero-body" style="background-color: hsla(0, 0%, 100%, .6)">
      <div class="container">
        <div class="columns is-vcentered">
          <div class="column is-5 landing-caption">
            <h1 class="title is-1 is-bold is-spaced">
              Грузоперевозки <br> Минск-Москва-Минск
            </h1>

            <h2 class="subtitle is-4" style="color: #555;">
              Грузоперевозки для вашего бизнеса
            </h2>

            <h3 class="subtitle is-4 has-text-weight-light">
              <a href="tel:+375 (29) 629-41-27" style="color: #363636; text-decoration: underline;">
                +375 (29) 629-41-27
              </a>
            </h3>

            <p>
              <open-call-request-modal-button class="button cta rounded secondary-btn raised">
                Связаться с нами
              </open-call-request-modal-button>
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="hero-foot is-hidden-mobile">
      <div class="container demo">
        <a
          class="scroll-button"
          @click.stop.prevent="scrollToCapabilitySection"
        >
          <span class="icon-scroll" />

          Прокрутить вниз
        </a>
      </div>
    </div>
  </section>
</template>

<script>
import OpenCallRequestModalButton from '../../components/ModalOpenButton';

export default {
  name: 'TitleSection',
  components: {
    OpenCallRequestModalButton
  },
  methods: {
    scrollToCapabilitySection() {
      const capabilitySection = document.getElementById('capability');

      if (capabilitySection) {
        capabilitySection.scrollIntoView({
          behavior: 'smooth',
          block: 'start'
        })
      }
    }
  }
}
</script>

<style lang="scss">
  #title-section {
    min-height: calc(100vh - 66px);
    background: url(../../../assets/images/bg.jpg) fixed center;
    background-size: cover;
  }

  .scroll-button {
    position: absolute;
    bottom: 0;
    left: calc(50% - 97px);
    z-index: 2;
    display: inline-block;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    color: #000;
    font : normal 400 20px/1 'Josefin Sans', sans-serif;
    letter-spacing: .1em;
    text-decoration: none;
    transition: opacity .3s;
    padding-top: 60px;
  }
  .scroll-button:hover {
    opacity: .5;
  }
  span.icon-scroll {
    position: absolute;
    top: -10px;
    left: 50%;
    width: 30px;
    height: 50px;
    margin-left: -15px;
    border: 2px solid #000;
    border-radius: 50px;
    box-sizing: border-box;
  }
  span.icon-scroll::before {
    position: absolute;
    top: 10px;
    left: 50%;
    content: '';
    width: 6px;
    height: 6px;
    margin-left: -3px;
    background-color: #000;
    border-radius: 100%;
    -webkit-animation: scroll 2s infinite;
    animation: scroll 2s infinite;
    box-sizing: border-box;
  }
  @-webkit-keyframes scroll {
    0% {
      -webkit-transform: translate(0, 0);
      opacity: 0;
    }
    40% {
      opacity: 1;
    }
    80% {
      -webkit-transform: translate(0, 20px);
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
  }

  @keyframes scroll {
    0% {
      transform: translate(0, 0);
      opacity: 0;
    }
    40% {
      opacity: 1;
    }
    80% {
      transform: translate(0, 20px);
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
  }
</style>
