<template>
  <form @submit.prevent="submit">
    <div class="columns is-multiline">
      <div class="column is-12">
        <input
          v-model="callRequest.name"
          class="input is-medium"
          type="text"
          placeholder="Введите ваше имя"
        >
      </div>

      <div class="column is-12">
        <input
          :value="callRequest.phone"
          v-imask="mask"
          @accept="onAccept"
          @complete="onComplete"
          class="input is-medium"
          type="text"
        >
      </div>

      <!--<div class="column is-6">-->
      <!--<VueRecaptcha-->
      <!--ref="recaptcha"-->
      <!--@verify="onCaptchaVerified"-->
      <!--@expired="onCaptchaExpired"-->
      <!--size="invisible"-->
      <!--sitekey="6Ld7fpAUAAAAAOXb_QRzSvsWwhu296kNy6GHgsuW"-->
      <!--/>-->
      <!--</div>-->

      <div class="form-footer has-text-centered mt-10">
        <button class="button cta is-large primary-btn raised is-clear">
          Заказать
        </button>
      </div>
    </div>
  </form>
</template>

<script>
import { IMaskDirective } from 'vue-imask';
import VueRecaptcha from 'vue-recaptcha';
import axios from 'axios';

export default {
  name: 'CallRequestCreateForm',
  components: {
    VueRecaptcha
  },
  directives: {
    imask: IMaskDirective
  },
  data() {
    return {
      isPhoneValid: false,
      callRequest: {
        name: '',
        phone: '+375'
      },
      mask: {
        mask: '+{375} (00) 000-00-00',
        lazy: false
      }
    }
  },
  methods: {
    submit() {
      // this.$refs.recaptcha.execute();
      if (this.isPhoneValid && this.callRequest.name.length > 0) {
        axios.post('/api/call-request/create', this.callRequest)
          .then(() => {
            this.callRequest = {
              name: '',
              phone: '+375'
            }

            this.$emit('close');
          });
      }
    },
    onCaptchaVerified(recaptchaToken) {
      this.$refs.recaptcha.reset();

      axios.post('/api/review/create', {
        email: this.email,
        password: this.password,
        recaptchaToken: recaptchaToken
      });
    },
    onCaptchaExpired() {
      this.$refs.recaptcha.reset();
    },
    onAccept (e) {
      this.callRequest.phone = e.detail._value;

      this.isPhoneValid = false;
    },
    onComplete (e) {
      this.callRequest.phone = e.detail._value;

      this.isPhoneValid = true;
    }
  }
}
</script>
