<template>
  <section class="section is-medium">
    <div class="container-fluid">
      <div class="title-wrapper has-text-centered">
        <h2 class="title is-2 is-spaced">
          Автопарк
        </h2>
      </div>

      <div class="content-wrapper">
        <div class="columns is-vcentered">
          <div class="column is-10 is-offset-1">
            <div class="columns is-vcentered">
              <div class="column is-4">
                <div class="card">
                  <div class="card-image">
                    <div id="slider1">
                      <figure>
                        <div class="image1"></div>
                        <div class="image2"></div>
                        <div class="image3"></div>
                        <div class="image1"></div>
                      </figure>
                    </div>
                  </div>

                  <div class="card-content">
                    <div class="content">
                      <h3 class="title is-3 has-text-centered">
                        Iveco
                      </h3>

                      <p>
                        Автомобиль из класса легких грузовиков, идеален для перевозки почти любых грузов. Не имеет ограничений для перемещения по городу.
                      </p>

                      <p>
                        <b>Длина:</b>
                        4,3 метра
                      </p>

                      <p>
                        <b>Ширина:</b>
                        2,1 метр
                      </p>

                      <p>
                        <b>Высота:</b>
                        2,3 метра
                      </p>

                      <p>
                        <b>Грузоподъёмность:</b>
                        до 4 тонн
                      </p>

                      <p>
                        <b>Объём:</b>
                        21 m<sup>3</sup>
                      </p>
                    </div>
                  </div>
                </div>
              </div>

              <div class="column is-4">
                <div class="card">
                  <div class="card-image">
                    <div id="slider2">
                      <figure>
                        <div class="image4"></div>
                        <div class="image5"></div>
                        <div class="image6"></div>
                        <div class="image4"></div>
                      </figure>
                    </div>
                  </div>

                  <div class="card-content">
                    <div class="content">
                      <h3 class="title is-3 has-text-centered">
                        Ford Transit
                      </h3>

                      <p>
                        Автомобиль из класса легких грузовиков, идеален для перевозки почти любых грузов. Не имеет ограничений для перемещения по городу.
                      </p>

                      <p>
                        <b>Длина:</b>
                        4,3 метра
                      </p>

                      <p>
                        <b>Ширина:</b>
                        2,1 метра
                      </p>

                      <p>
                        <b>Высота:</b>
                        2,1 метра
                      </p>

                      <p>
                        <b>Грузоподъёмность:</b>
                        до 3 тонн
                      </p>

                      <p>
                        <b>Объём:</b>
                        19 m<sup>3</sup>
                      </p>
                    </div>
                  </div>
                </div>
              </div>

              <div class="column is-4">
                <div class="card">
                  <div class="card-image">
                    <figure>
                      <img src="../../assets/images/illustrations/cars/fiat.jpg" alt="">
                    </figure>
                  </div>

                  <div class="card-content">
                    <div class="content">
                      <h3 class="title is-3 has-text-centered">
                        Fiat Ducato
                      </h3>

                      <p>
                        Автомобиль из класса легких грузовиков, идеален для перевозки почти любых грузов. Не имеет ограничений для перемещения по городу.
                      </p>

                      <p>
                        <b>Длина:</b>
                        4 метра
                      </p>

                      <p>
                        <b>Ширина:</b>
                        1,8 метра
                      </p>

                      <p>
                        <b>Высота:</b>
                        1,8 метра
                      </p>

                      <p>
                        <b>Грузоподъёмность:</b>
                        до 2,5 тонн
                      </p>

                      <p>
                        <b>Объём:</b>
                        13 m<sup>3</sup>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
import bulmaCarousel from 'bulma-carousel/dist/js/bulma-carousel.min.js';

export default {
  name: 'CarPark',
  metaInfo: {
    title: 'Автопарк',
    meta: [
      { name: 'description', content: 'Автопарк Tarakay.' },
      { name: 'keywords', content: 'автопарк' },
      { itemport: 'description', content: 'Автопарк Tarakay.' },
      { itemport: 'name', content: 'Автопарк Tarakay' },
      { name: 'application-name', content: 'Tarakay' }
    ]
  },
  mounted() {
    bulmaCarousel.attach('.carousel');
  }
}
</script>

<style lang="scss">
  @keyframes slidy {
    0% {
      left: 0;
    }
    30% {
      left: 0;
    }
    33% {
      left: -100%;
    }
    63% {
      left: -100%;
    }
    66% {
      left: -200%;
    }
    97% {
      left: -200%;
    }
    100% {
      left: -300%;
    }
  }

  div#slider1 {
    overflow: hidden;

    figure {
      position: relative;
      width: 400%;
      margin: 0;
      left: 0;
      text-align: left;
      font-size: 0;
      animation: 15s slidy infinite;

      div {
        width: 25%;
        float: left;
      }
    }
  }

  div#slider2 {
    overflow: hidden;

    figure {
      position: relative;
      width: 400%;
      margin: 0;
      left: 0;
      text-align: left;
      font-size: 0;
      animation: 15s slidy infinite;

      div {
        width: 25%;
        float: left;
      }
    }
  }

  .image1 {
    background-position: center center;
    background-image: url('../../assets/images/illustrations/cars/iveco1s.jpg');
    height: 395px;
    background-size: cover;
  }

  .image2 {
    background-image: url('../../assets/images/illustrations/cars/iveco2.jpg');
    height: 395px;
    background-position: center center;
    background-size: cover;
  }

  .image3 {
    background-image: url('../../assets/images/illustrations/cars/iveco3.jpg');
    height: 395px;
    background-position: center center;
    background-size: cover;
  }

  .image4 {
    background-position: center center;
    background-size: cover;
    background-image: url('../../assets/images/illustrations/cars/ford1.jpg');
    height: 395px;
  }

  .image5 {
    background-image: url('../../assets/images/illustrations/cars/ford2.jpg');
    height: 395px;
    background-position: center center;
    background-size: cover;
  }

  .image6 {
    background-image: url('../../assets/images/illustrations/cars/ford3.jpg');
    height: 395px;
    background-position: center center;
    background-size: cover;
  }
</style>
