<template>
  <section>
    <div class="container-fluid">
      <div class="title-wrapper has-text-centered">
        <h1 class="title is-1 is-spaced">
          Контакты
        </h1>

        <div class="divider is-centered"></div>
      </div>

      <div class="content-wrapper">
        <div class="columns is-multiline">
          <div class="column is-7 is-12-mobile is-offset-1-tablet">
            <div class="columns is-multiline">
              <div class="column is-12 has-text-weight-bold">
                ИП Микулич Дмитрий Петрович
              </div>
            </div>

            <div class="columns">
              <div class="column is-4 has-text-weight-bold">
                Юридический адрес:
              </div>

              <div class="column is-8">
                223021, Минский р-н, д. Богатырёво, ул. Полесская
              </div>
            </div>

            <div class="columns">
              <div class="column is-4 has-text-weight-bold">
                Телефоны:
              </div>

              <div class="column is-8">
                +375 (29) 576-71-39 (МТС) Дмитрий, +375 (29) 398-47-87 (Velcom) Дмитрий
              </div>
            </div>

            <div class="columns">
              <div class="column is-4 has-text-weight-bold">
                Email:
              </div>

              <div class="column is-8">
                miccoli07@mail.ru
              </div>
            </div>

            <div class="columns">
              <div class="column is-4 has-text-weight-bold">
                Viber:
              </div>

              <div class="column is-8">
                +375 (29) 576-71-39
              </div>
            </div>

            <div class="columns">
              <div class="column is-4 has-text-weight-bold">
                Skype:
              </div>

              <div class="column is-8">
                dimokmikulich
              </div>
            </div>

<!--            <h5 class="title is-5">-->
<!--              Реквизиты-->
<!--            </h5>-->

<!--            <div class="columns is-multiline">-->
<!--              <div class="column is-12">-->
<!--                Счет в белорусских рублях:-->
<!--              </div>-->

<!--              <div class="column is-12">-->
<!--                р/с 3013941150013 ОАО «Белинвестбанк» отд. 522 г. Минск, ул. Одинцова д.69, код 739 УНП 691313070-->
<!--              </div>-->
<!--            </div>-->
          </div>

          <div class="column is-3 is-12-mobile">
            <div class="title-wrapper has-text-centered">
              <h3 class="title is-3 is-spaced">
                Заказать звонок
              </h3>

              <div class="divider is-centered"></div>
            </div>

            <div class="content-wrapper">
              <CallRequestCreateForm/>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
import CallRequestCreateForm from './Contacts/CallRequestCreateForm';

export default {
  name: 'Contacts',
  metaInfo: {
    title: 'Контакты',
    meta: [
      { name: 'description', content: 'Контакты Tarakay.' },
      { name: 'keywords', content: 'контакты' },
      { itemport: 'description', content: 'Контакты Tarakay.' },
      { itemport: 'name', content: 'Контакты Tarakay' },
      { name: 'application-name', content: 'Tarakay' }
    ]
  },
  components: {
    CallRequestCreateForm
  }
}
</script>
