<template>
  <div>
    <TitleSection />

    <CapabilitySection />

    <section class="section is-medium">
      <div class="container">
        <div class="columns">
          <div class="column is-centered-tablet-portrait">
            <h1 class="title section-title">Ты здесь, потому что хочешь лучшего</h1>
            <h3 class="subtitle is-4 is-muted">И мы знаем это</h3>
            <div class="divider"></div>
          </div>
          <div class="column is-8 mt-60">

            <!-- icon block -->
            <article class="media icon-box">
              <figure class="media-left">
                <p class="image">
                  <img src="../../assets/images/illustrations/icons/clipboard.svg">
                </p>
              </figure>
              <div class="media-content mt-50">
                <div class="content">
                  <p>
                    <span class="icon-box-title">
                      Решаем транспортные задачи любой сложности
                    </span>
                  </p>
                </div>
              </div>
            </article>
            <!-- /icon block -->

            <!-- icon block -->
            <article class="media icon-box">
              <figure class="media-left">
                <p class="image">
                  <img
                    src="../../assets/images/illustrations/icons/truck.svg"
                    style="width: 150px;"
                  >
                </p>
              </figure>

              <div class="media-content mt-50">
                <div class="content">
                  <p>
                    <span class="icon-box-title">
                      Быстрая дотавка
                    </span>

                    <span class="icon-box-text">
                      Обычная доставка посылок занимает о 2 дней, срочная за 24 часа
                    </span>
                  </p>
                </div>
              </div>
            </article>
            <!-- /icon block -->

            <!-- icon block -->
            <article class="media icon-box">
              <figure class="media-left">
                <p class="image">
                  <img
                    src="../../assets/images/illustrations/icons/packing.svg"
                    style="width: 150px;"
                  >
                </p>
              </figure>

              <div class="media-content mt-50">
                <div class="content">
                  <p>
                    <span class="icon-box-title">
                      Любые объёмы
                    </span>

                    <span class="icon-box-text">
                      Мы доставляем товары от 1 грамма до 4 тонн и до 22 m<sup>3</sup> с любыми условиями транспортировки
                    </span>
                  </p>
                </div>
              </div>
            </article>
            <!-- /icon block -->


            <!-- icon block -->
            <article class="media icon-box">
              <figure class="media-left">
                <p class="image">
                  <img src="../../assets/images/illustrations/icons/cash.svg">
                </p>
              </figure>

              <div class="media-content mt-50">
                <div class="content">
                  <p>
                    <span class="icon-box-title">
                      Любая форма оплаты
                    </span>

                    <span class="icon-box-text">
                      Работаем как с физическими, так и с юридическими лицами
                    </span>
                  </p>
                </div>
              </div>
            </article>
            <!-- /icon block -->
          </div>
        </div>
      </div>
    </section>

    <section class="section is-medium section-secondary">
      <div class="container">

        <div class="title-wrapper has-text-centered">
          <h2 class="title is-3 light-text is-spaced">
            Наши клиенты любят нас
          </h2>
        </div>

        <div class="content-wrapper">
          <div class="columns is-vcentered">
            <div class="column is-4">
              <figure class="testimonial">
                <blockquote>
                  <v-icon name="quote-left"></v-icon>

                  Каждую неделю доставляют свои платья в Минск белорусским девушкам.
                  Всё идеально, цены ниже среднерыночных. Рада сотрудничеству!

                  <v-icon name="quote-right"></v-icon>
                </blockquote>

                <div class="author">
                  <img src="../../assets/images/illustrations/faces/1.png">

                  <h5>Елизавета Супранович</h5>
                </div>
              </figure>
            </div>

            <div class="column is-4">
              <figure class="testimonial">
                <blockquote>
                  <v-icon name="quote-left"></v-icon>

                  Надежный перевозчик! Доставят в срок,помогут с документами,информация о грузе поступает четко и вовремя!
                  Ребята, вы молодцы! Удачи!

                  <v-icon name="quote-right"></v-icon>
                </blockquote>

                <div class="author">
                  <img src="../../assets/images/illustrations/faces/3.png">

                  <h5>Иван Супранович</h5>
                </div>
              </figure>
            </div>

            <div class="column is-4">
              <figure class="testimonial">
                <blockquote>
                  <v-icon name="quote-left"></v-icon>

                  Замечательный и надежный перевозчик, работаем на протяжении нескольких лет.
                  Благодарим за сотрудничество, желаем процветания и успехов.

                  <v-icon name="quote-right"></v-icon>
                </blockquote>

                <div class="author">
                  <img src="../../assets/images/illustrations/faces/2.png">

                  <h5>Дмитрий Микулич</h5>
                </div>
              </figure>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>

<script>
import CapabilitySection from './Home/CapabilitySection';
import TitleSection from './Home/TitleSection';

export default {
  metaInfo: {
    title: 'Грузоперевозки Минск-Москва',
    meta: [
      { name: 'description', content: 'Грузоперевозки Минск-Москва. Доставка и перевозка сборных грузов из Москвы в Минск.' },
      { name: 'keywords', content: 'грузоперевозки Минск-Москва, Беларусь.' },
      { itemport: 'description', content: 'Грузоперевозки Минск-Москва. Доставка и перевозка сборных грузов из Москвы в Минск.' },
      { itemport: 'name', content: 'Грузоперевозки Минск-Москва Tarakay' },
      { name: 'application-name', content: 'Tarakay' }
    ]
  },
  components: {
    CapabilitySection,
    TitleSection
  }
}
</script>

<style lang="scss">
  .testimonial blockquote .fa-icon:first-child {
    position: absolute;
    left: 20px;
    top: 35px;
    opacity: .3;
  }

  .testimonial blockquote .fa-icon:last-child {
    position: absolute;
    right: 20px;
    bottom: 35px;
    opacity: .3;
  }
</style>
