<template>
  <section class="section is-medium">
    <div class="container-fluid">
      <div class="title-wrapper has-text-centered">
        <h2 class="title is-2 is-spaced">
          Страница не была найдена
        </h2>
      </div>
    </div>
  </section>
</template>

<script>
export default {
  name: 'NotFound'
}
</script>
