<template>
  <div>
    <section>
      <div class="container">
        <div class="title-wrapper has-text-centered">
          <h1 class="title is-1 is-spaced">
            Отзывы
          </h1>

          <div class="divider is-centered"></div>
        </div>

        <div class="content-wrapper">
          <div
            v-if="isLoading"
            class="columns"
            style="padding-top: 70px"
          >
            <div class="column is-12">
              <div id="status"></div>
            </div>
          </div>

          <div
            v-else
            class="columns is-multiline"
            style="width: 100%"
          >
            <div
              v-for="review in reviews"
              :key="review.id"
              class="column is-6"
            >
              <article class="message">
                <div class="message-header is-primary">
                  <p>{{ review.name }}</p>
                </div>

                <div class="message-body">
                  {{ review.text }}
                </div>
              </article>
            </div>

            <div
              v-if="reviews.length === 0"
              class="column is-12"
            >
              <h3 class="title is-3 has-text-centered">
                Пока нет ни одного отзыва
              </h3>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="section section-light-grey is-medium">
      <div class="container">
        <div class="title-wrapper has-text-centered">
          <h2 class="title is-2 is-spaced">
            Оставте пару строчек своего мнения
          </h2>
          <h3 class="subtitle is-5 is-muted">
            Мы любим читать мнение наших клиентов о нас
          </h3>

          <div class="divider is-centered"></div>
        </div>

        <div class="content-wrapper">
          <div class="columns">
            <div class="column is-6 is-offset-3">
              <ReviewCreateForm />
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>

<script>
import ReviewCreateForm from './Review/ReviewCreateForm';
import axios from 'axios';

export default {
  name: 'Reviews',
  metaInfo: {
    title: 'Отзывы',
    meta: [
      { name: 'description', content: 'Отзывы Tarakay.' },
      { name: 'keywords', content: 'отзывы' },
      { itemport: 'description', content: 'Отзывы Tarakay.' },
      { itemport: 'name', content: 'Отзывы Tarakay' },
      { name: 'application-name', content: 'Tarakay' }
    ]
  },
  components: {
    ReviewCreateForm
  },
  data() {
    return {
      isLoading: true,
      reviews: []
    }
  },
  async created() {
    this.reviews = await axios.get('/api/review/list')
      .then(({ data }) => data)
      .catch(() => []);

    this.isLoading = false;
  }
}
</script>
