<template>
  <section class="section is-medium">
    <div class="container-fluid">
      <div class="title-wrapper has-text-centered">
        <h2 class="title is-2 is-spaced">
          Услуги
        </h2>
      </div>

      <div class="content">
        <div class="columns">
          <div class="column is-8 is-offset-2">
            <p>
              Грузоперевозки сборных грузов являются одним из сложнейших видов грузоперевозок, что связано
              со следующими особенностями:
            </p>

            <ul>
              <li>— необходимость подбора совместимых грузов;</li>
              <li>— подготовка сопроводительной документации;</li>
              <li>— правильная организация загрузки транспортного средства (last-in-first-out).</li>
              <li>— отслеживание вашего груза через экспедитора</li>
            </ul>

            <p>
              Одним из основных профилей нашей компании являются перевозки сборных грузов по Беларуси и России.
              Достаточный опыт работы нашей компании в данной сфере позволяет осуществлять грузоперевозки
              сборных грузов на высшем уровне.
            </p>

            <p>
              Грузоперевозки сборных грузов – один из самых экономных способов доставить небольшую пробную партию
              товара или ценный предмет мебели родственникам. Эта услуга пользуется популярностью как у физических,
              так и у юридических лиц. Перевозка сборных грузов позволяет компаниям сэкономить на заказе целого
              транспортного средства и оптимизировать оборотные средства.
            </p>

            <p>
              Заказывая грузоперевозки сборных грузов в Tarakay.by Вы:
            </p>

            <ul>
              <li>
                — будете точно понимать, за что платите деньги: стоимость услуг зависит
                от расстояния, на которое необходимо доставить груз, его веса и объёма;
              </li>

              <li>
                — будете уверены в целостности и сохранности своего имущества.
              </li>

              <li>
                — доставка строго в срок, экспресс- доставка по принципу «сегодня- завтра»
              </li>

              <li>
                — кругорейс - поездка по принципу "туда- обратно" под одного заказчика
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
export default {
  name: 'Services',
  metaInfo: {
    title: 'Услуги',
    meta: [
      { name: 'description', content: 'Услуги Tarakay.' },
      { name: 'keywords', content: 'услуги' },
      { itemport: 'description', content: 'Услуги Tarakay.' },
      { itemport: 'name', content: 'Услуги Tarakay' },
      { name: 'application-name', content: 'Tarakay' }
    ]
  }
}
</script>

<style scoped>
  ul {
    list-style: none;
  }

  .title-wrapper {
    margin-bottom: 20px;
  }
</style>
