<template>
  <div id="app">
    <TheNavbar />

    <TheNavbarClone />

    <router-view />

    <TheFooter />

    <BackToTopButton />
  </div>
</template>

<script>
import CapabilitySection from './pages/Home/CapabilitySection';
import TitleSection from './pages/Home/TitleSection';
import TheNavbar from './components/TheNavbar';
import TheNavbarClone from './components/TheNavbarClone';
import TheFooter from './components/TheFooter';
import BackToTopButton from "./components/BackToTopButton";

export default {
  metaInfo: {
    title: 'Грузоперевозки Минск-Москва Tarakay',
    titleTemplate: '%s Tarakay'
  },
  components: {
    BackToTopButton,
    TheFooter,
    TheNavbar,
    TheNavbarClone,
    CapabilitySection,
    TitleSection
  }
}
</script>

<style lang="scss">
  @import "~bulma";
  @import "../assets/css/core";

  .testimonial blockquote .fa-icon:first-child {
    position: absolute;
    left: 20px;
    top: 35px;
    opacity: .3;
  }

  .testimonial blockquote .fa-icon:last-child {
    position: absolute;
    right: 20px;
    bottom: 35px;
    opacity: .3;
  }
</style>
