{% trans_default_domain 'FOSUserBundle' %}

<section id="wrapper" class="login-register login-sidebar">
    <div class="bg-mm">

    </div>
    <div class="login-box card">
        <div class="card-body">
            {{ form_start(form, {'method': 'post', 'attr': {'class': 'form-horizontal form-material'}}) }}
            
            <a href="{{ path('homepage') }}" class="text-center db">
                <h1>Регистрация</h1>
            </a>

            <div class="form-group m-t-20 {% if form.email.vars.errors | length > 0 %} has-danger {% endif %}">
                <div class="col-xs-12">
                    {{ form_widget(form.email) }}
                </div>

                {% for error in form.email.vars.errors %}
                    <div class="form-control-feedback">{{ error.message }}</div>
                {% endfor %}
            </div>

            <div class="form-group m-t-20">
                <div class="col-xs-12">
                    {{ form_widget(form.plainPassword.first) }}
                </div>
            </div>

            <div class="form-group m-t-20 {% if form.plainPassword.first.vars.errors | length > 0 %} has-danger {% endif %}">
                <div class="col-xs-12">
                    {{ form_widget(form.plainPassword.second) }}
                </div>

                {% for error in form.plainPassword.first.vars.errors %}
                    <div class="form-control-feedback">{{ error.message }}</div>
                {% endfor %}
            </div>

            <div class="form-group {% if form.terms.vars.errors | length > 0 %} has-danger {% endif %}">
                <div class="col-md-12">
                    <div class="checkbox checkbox-primary p-t-0">
                        {{ form_widget(form.terms) }}
                        {{ form_label(form.terms) }}
                    </div>

                    {% for error in form.terms.vars.errors %}
                        <div class="form-control-feedback">{{ error.message }}</div>
                    {% endfor %}
                </div>
            </div>

            <div class="form-group text-center m-t-20">
                <div class="col-xs-12">
                    <button class="btn btn-info btn-lg btn-block text-uppercase waves-effect waves-light">
                        {{ 'form.button.sign_up'|trans }}
                    </button>
                </div>
            </div>
            <div class="form-group m-b-0">
                <div class="col-sm-12 text-center">
                    <p>
                        {{ 'form.question.do_have_an_account' | trans }}
                        <a href="{{ path('fos_user_security_login') }}" class="text-info m-l-5">
                            <b>{{ 'form.button.sign_in' | trans }}</b>
                        </a>
                    </p>
                </div>
            </div>
            {{ form_end(form) }}
        </div>
    </div>
</section>

<style>
    .bg-mm {
        background: url({{ asset('assets/images/logos.png') }}) #2f4b94 center no-repeat;
        position: absolute;
        width: calc(100% - 400px);
        height: 100vh;
        background-size: 50%;
    }

    @media (max-width: 767px) {
        .bg-mm {
            display: none;
        }
    }


    .btn-info, .btn-info.disabled {
        background: #2f4b94;
    }

    .btn-info:hover, .btn-info.disabled:hover {
        background: #304b94;
        border: 1px solid #304b94;
    }
</style>