<template>
  <section class="section is-medium">
    <div class="container-fluid">
      <h2 class="title is-2 is-spaced has-text-centered">
        Кругорейс
      </h2>

      <div class="content">
        <div class="columns">
          <div class="column is-8 is-offset-2">
            <p>
              Грузоперевозки сборных грузов являются одним из сложнейших видов грузоперевозок,
              что связано со следующими особенностями:
            </p>

            <ul>
              <li> — необходимость подбора совместимых грузов;</li>

              <li> — подготовка большого объёма сопроводительной документации;</li>

              <li> — правильная организация загрузки транспортного средства (last-in-first-out).</li>
            </ul>

            <p>
              Одним из основных профилей транспортно-логистической компании <b>Tarakay.by</b> являются перевозки
              сборных грузов по Беларуси и России. Достаточный опыт работы нашей компании в данной сфере позволяет
              осуществлять грузоперевозки сборных грузов на высшем уровне.
            </p>

            <p>
              Грузоперевозки сборных грузов – один из самых экономных способов доставить небольшую пробную партию
              товара или ценный предмет мебели родственникам. Эта услуга пользуется популярностью как у физических,
              так и у юридических лиц. Перевозка сборных грузов позволяет компаниям сэкономить на заказе целого
              транспортного средства и оптимизировать оборотные средства.
            </p>

            <p>
              Заказывая грузоперевозки сборных грузов в <b>Tarakay.by</b> Вы:
            </p>

            <ul>
              <li>
                — не столкнётесь с какими-либо ограничениями по весу и объёму, мы примем любой груз весом от 1 кг;
              </li>

              <li>
                — будете точно понимать, за что платите деньги: стоимость услуг зависит от расстояния, на которое
                необходимо доставить груз, его веса;
              </li>

              <li>
                — можете самостоятельно подвезти свой груз в один из наших пунктов приёма, или же мы сами заберём его от «двери»;
              </li>

              <li>
                — будете уверены в целостности и сохранности своего имущества: ответственность <b>Tarakay.by</b> застрахована.
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
export default {
  name: 'ConstructionCargo'
}
</script>

<style scoped>
  ul {
    list-style: none;
  }

  .title-wrapper {
    margin-bottom: 20px;
  }
</style>
