<template>
  <form @submit.prevent="submit">
    <div class="columns is-multiline">
      <div class="column is-6">
        <input
          v-model="review.name"
          class="input is-medium"
          type="text"
          placeholder="Введите ваше имя"
        >
      </div>

      <div class="column is-6">
        <input
          v-model="review.email"
          class="input is-medium"
          type="email"
          placeholder="Введите ваш email"
        >
      </div>

      <div class="column is-12">
        <textarea
          v-model="review.text"
          class="textarea"
          rows="10"
          placeholder="Напишите что-нибудь ..."
        />
      </div>

      <!--<div class="column is-6">-->
      <!--<VueRecaptcha-->
      <!--ref="recaptcha"-->
      <!--@verify="onCaptchaVerified"-->
      <!--@expired="onCaptchaExpired"-->
      <!--size="invisible"-->
      <!--sitekey="6Ld7fpAUAAAAAOXb_QRzSvsWwhu296kNy6GHgsuW"-->
      <!--/>-->
      <!--</div>-->

      <div class="form-footer has-text-centered mt-10">
        <button class="button cta is-large primary-btn raised is-clear">
          Отправить
        </button>
      </div>
    </div>
  </form>
</template>

<script>
import VueRecaptcha from 'vue-recaptcha';
import axios from 'axios';

export default {
  name: 'ReviewCreateForm',
  components: {
    VueRecaptcha
  },
  data() {
    return {
      review: {
        name: '',
        text: '',
        email: ''
      }
    }
  },
  methods: {
    submit() {
      // this.$refs.recaptcha.execute();
      axios.post('/api/review/create', this.review)
        .then(() => {
          this.review = {
            name: '',
            text: '',
            email: ''
          };
        });
    },
    onCaptchaVerified(recaptchaToken) {
      this.$refs.recaptcha.reset();

      axios.post('/api/review/create', {
        email: this.email,
        password: this.password,
        recaptchaToken: recaptchaToken
      });
    },
    onCaptchaExpired() {
      this.$refs.recaptcha.reset();
    }
  }
}
</script>
